.button {
  width: 100%;
  max-width: 25rem;
  height: 60px;
  margin-top: 2.25rem;
  border-radius: 20px;
  border: 0;
  background-color: var(--green-dark);
  color: var(--background);
  font-family: "Quicksand";
  font-size: 2.25rem;
  font-weight: 500;
  cursor: pointer;
  transition: filter 0.2s;

  &:hover {
    filter: brightness(0.9);
  }
}

.smallButton {
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  height: 2.5rem;
  margin-top: 2.25rem;
  border-radius: 13px;
  border: 0;
  background-color: var(--green-dark);
  color: var(--background);
  font-family: "Quicksand";
  font-size: 1.375rem;
  font-weight: 500;
  max-width: 20rem;

  cursor: pointer;
  transition: filter 0.2s;

  &:hover {
    filter: brightness(0.9);
  }
}
