.container {
  display: flex;
  height: 100vh;
  background: var(--green-dark);
  overflow: hidden;
}

.lateralItens {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  max-width: 46rem;
  padding-top: 3.125rem;

  div {
    margin-left: 18px;
    h1 {
      color: var(--background);
      font-size: 6rem;
      font-weight: 500;
      margin: 0 auto;
    }

    h3 {
      color: var(--background);
      font-size: 3rem;
      font-weight: 500;
      margin: 0 auto;
    }
  }

  img {
    width: 100%;
  }
}

.content {
  background: var(--background);
  border-radius: 20px;
  padding: 0 19rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;

  h1 {
    font-weight: 800;
    font-size: 4rem;
    margin-bottom: 0.875rem;
  }

  form {
    width: 100%;
    max-width: 25rem;
    min-width: 10rem;
  }
}
