.container {
  width: 100%;
  max-width: 34.625rem;

  padding: 2rem;
  background-color: var(--white);
  border-radius: 2.25rem;
  overflow: hidden;
  box-shadow: 0 0.125rem 0.75rem rgba(0, 0, 0, 0.1);
  border: 0;

  transition: transform 0.2s;

  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  cursor: pointer;

  &:hover {
    transform: scale(1.2);
  }
  div {
    display: flex;
    align-items: center;

    color: var(--black-light);
    font-family: "Rajdhani";

    p {
      margin-right: 1.25rem;
      font-size: 2.5rem;
    }

    span {
      font-size: 2rem;
    }
  }

  .title {
    h1 {
      color: var(--black-light);
      font-size: 2rem;
      margin-right: 0.5rem;
    }
  }
}

.buttonDisabled {
  opacity: 0.4;
  cursor: auto;

  &:hover {
    transform: scale(1);
  }
}
